{% extends "base.html" %}

<title>{% block title %}Ballot{% endblock %}</title>

{% block content %}
<h1 class="text-center pb-5 pt-5">Election Ballot</h1>
<div class="container my-3 pb-5 pt-20">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="text-danger">
                  {{ messages[0] }}
              </div>
          {% endif %}
        {% endwith %}
        <form action="" method="post" role="form">
          {{ form.csrf }}
          <div class="form-group">
            <label for="text">Election Name: </label>
            <label for="{{ election.name }}">{{ election.name }}</label>
            <br>
            <label for="text">Electoral Constituency: </label>
            <label for="{{ election.electoral_constituency }}">{{ election.electoral_constituency }}</label>
            <br>
            <label for="text">Electoral Date: </label>
            <label for="{{ election.election_date }}">{{ election.election_date }}</label>
            <br>
            <label for="text">Select Race to View Race Details</label>
            {% if not first_race_choose %}
              <select name="Races" method="GET" action="/">
                <option value="{{Races[0].name}}" selected>{{Races[0].name}}</option>
                  {% for race in Races[1:] %}
                    <option value="{{race.name}}">{{race.name}}</option>
                  {% endfor %}
              </select>
            {% else %}
              <select name="Races" method="GET" action="/">
                <option value="{{ selected_race }}" selected>{{ selected_race }}</option>
                  {% for race in Races %}
                    {% if race.name != selected_race %}
                      <option value="{{ race.name }}"> {{ race.name }} </option>
                    {% endif %}
                  {% endfor %}
              </select>
            {% endif %}
            <br>
            {% if race_selected %}
              <label for="text">Race Terms: </label>
              <label for="{{ race.term }}">{{ race.term }}</label>
              <br>
              <label for="text">Precincts: </label>
              <label for="{{ race.precinct }}">{{ race.precinct }}</label>
              <br>
              <label for="text">Race Candidates: </label>
              <br>
              {% for candidate in candidates %}
                <label for="{{ candidate.full_name }}">Name: {{ candidate.full_name }}</label>
                <a href="{{ url_for('display_candidate' , id=candidate.candidate_id) }}" class="">View Candidate Info</a>
                <br>
              {% endfor %}
              {% for candidate in candidates %}
                <input type="radio" name="candidates" value="{{ candidate.full_name }}"> {{ candidate.full_name }} </input<br>
              {% endfor %}
              <div class="text-center">
                <p>
                {{ form.chose_race(type="submit", class="btn btn-primary")}} {{ form.vote_in_race(type="submit", class="btn btn-primary")}}
                </p>
                <br>
              </div>
            {% else %}
              <br>
              <div class="text-center">
                <p>
                {{ form.chose_race(type="submit", class="btn btn-primary")}}
                </p>
              </div>
            {% endif %}
            <br>
             <div class="text-center">
                <p>
                {{ form.submit_all_votes(type="submit", class="btn btn-primary")}}
                </p>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}