{% extends "base.html" %}

<title>{% block title %}Profile{% endblock %}</title>

{% block content %}
<h1 class="text-center pb-5 pt-5">My Profile</h1>
<div class="container my-3 pb-5 pt-5">
        <table>
            <caption>My account infos</caption>
            <thead>
                <tr class="text-secondary">
                    <th id="name">Name</th>
                    <th id="email">Email</th>
                    <th id="actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ current_user.name }}</td>
                    <td>{{ current_user.email }}</td>
                    <td><a href="" class="btn btn-primary mx-4">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="text-danger">
                  {{ messages[0] }}
              </div>
            {% endif %}
        {% endwith %}
</div>
{% endblock %}