{% extends "base.html" %}

<title>{% block title %}Reset Password{% endblock %}</title>

{% block content %}
<legend class="text-center pb-5 pt-5">{{legend}}</legend>
  <div class="container"><br>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        <form action="" method="post" role="form">
          {{ form.csrf }}
          <div class="form-group">
            <label for="userid">{{ form.user_id.label }}</label>
            {{ form.user_id(placeholder="User ID" , type="text" , class="form-control" , id="userid") }}
            <br>
            <div>
              {% for error in form.user_id.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            <div class="text-center">
            <p>
               {{ form.submit(type="submit", class="btn btn-primary")}}
            </p>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
{% endblock %}
